<ion-header>
  <ion-toolbar class="bar">
      <ion-buttons  slot="start">
          <!--button ion-button menuToggle class="toggle">
              <ion-icon name="menu" class="icon-toggle"></ion-icon>
          </button-->
          <ion-menu-button autoHide="false" class="toggle"></ion-menu-button>
      </ion-buttons>
    <ion-title>
        <img
        src="assets/imgs_test/logo.png"
        height="40px"
        width="80px"
        alt="No Image"/>
    </ion-title>
    <ion-label slot="end" class="hola">
      <ion-icon [name]="nube" class="icono" id="enable"  (click)="conection()"></ion-icon>
      <ion-icon *ngIf="!currentUser" name="contact" (click)="login()" class="icono"></ion-icon>
    </ion-label>
    <ion-label slot="end" class="hola">
      <u *ngIf="currentUser" (click)="presentAlertConfirm()">{{ nameUser }}</u>
    </ion-label>
    
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">
    <ion-item>
      <ion-slides page="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of barnerSuperior">
          <img
              [src]="'https://setvmas.com/api/uploads/banners/'+item.ImageName"
              class="banner"
              alt="No Image"
              (click)="details(item.AnuncioId)"/> 
        </ion-slide>
      </ion-slides>
    </ion-item>
    <div class="buscar">
      <ion-grid>
          <ion-row>
            <ion-col size="auto" style="float:left">
                <ion-buttons class="round" style="padding: top 20px;">
                    <ion-button (click)="search()">
                      <ion-icon slot="icon-only" name="options" style="margin-left: -5px;"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="0.5"></ion-col>
            <ion-col size="auto">
                <ion-input [(ngModel)]="txtbuscar" placeholder="¿QUÉ BUSCAS?..." *ngIf="bocina === false" class="searchmax"><ion-icon class="search" name="search" slot="start" (click)="toggleGroup()"></ion-icon></ion-input>
                <ion-input [(ngModel)]="txtbuscar" placeholder="¿QUÉ BUSCAS?..." *ngIf="bocina === true" class="searchminim"><ion-icon class="search" name="search" slot="start" (click)="toggleGroup()"></ion-icon></ion-input>
            </ion-col>
            <ion-col size="2">
                <ion-buttons class="anunciar" style="padding: top -10px;" *ngIf="bocina === false">
                    <ion-button (click)="onNotificate()">
                        <img  src="assets/imgs_test/notif1.png" height="auto" width="auto" slot="end"/>
                    </ion-button>
                </ion-buttons>
                <ion-buttons class="anunciarexpanded" style="padding: top 30px;" *ngIf="bocina === true">
                    <ion-button (click)="onNotificate()">
                        <img src="assets/imgs_test/hover.png" height="auto" width="auto" slot="end"/>
                    </ion-button>
                </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid>
  </div>
    <ion-list >
      <ion-item-sliding>
        <ion-item class="ion-text-wrap" text-wrap (click)="toggleGroup()" [ngClass]="{active: isGroupShown(i)}">
          <ion-label class="label">
            RECIENTES<ion-icon class="icon" [name]="icon" slot="end"></ion-icon>
          </ion-label>
        </ion-item>
        <div *ngIf="group === true">
          <ion-card *ngFor="let item of recientes" class="card">
            <ion-grid>
                <ion-row>
                    <ion-col size="auto">
                        <!--img
                        src="assets/imgs_test/uso.png"
                        height="25px"
                        width="5px"
                        alt="No Image"
                        class="heavens"/-->
                       <img *ngIf="item.ImageName !== undefined && item.Url == undefined || item.ImageName !== null && item.Url == null"
                        [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+item.ImageName"
                        class="img"
                        (click)="details(item.AnuncioId)"
                        alt="No Image"
                        />
                        <img *ngIf="item.ImageName !== undefined && item.Url !== undefined || item.ImageName !== null && item.Url !== null"
                        [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+item.ImageName"
                        class="img"
                        alt="No Image"
                        (click)="miWeb(item.Url)"
                        />
                        <img *ngIf="item.ImageName === '' && item.Url == undefined || item.ImageName === '' && item.Url == null"
                        [src]="'https://setvmas.com/api/uploads/categorias/mini/'+item.Categoria.ImageName"
                        class="cat"
                        (click)="details(item.AnuncioId)"
                        alt="No Image"
                        />
                        <img *ngIf="item.ImageName === '' && item.Url !== undefined || item.ImageName === '' && item.Url !== null"
                        [src]="'https://setvmas.com/api/uploads/categorias/mini/'+item.Categoria.ImageName"
                        class="cat"
                        (click)="miWeb(item.Url)"
                        alt="No Image"
                        />
                    </ion-col>
                    <ion-col size="auto">
                      <div class="container">
                        <p style="padding: 10px; width: 120px;height: auto; margin-top: -10px;">
                          {{item.Categoria.Nombre}}
                        </p>  
                          <p style="padding: 10px; width: 120px;height: auto;color: black; margin-top: -10px;">{{item.Titulo}}</p>
                          <ion-button style="margin-top: -20px; width: 120px;height: 30px;" color="medium" shape="round" fill="outline" ><p style="font-weight: bold;color: #000;">${{item.Precio}}</p></ion-button>
                      </div>
                    </ion-col>
                    <ion-col size="auto">
                      <div style="margin-left: 268px;margin-top: -110px;position: absolute;">
                        <ion-buttons class="round1">
                          <ion-button (click)="sendShare(item.Titulo,item.AnuncioId)">
                            <ion-icon slot="icon-only" name="share" style="margin-left: -10px;"></ion-icon>
                          </ion-button>
                        </ion-buttons> 
                      </div>
                      <br>
                      <br>
                      <div style="margin-left: 268px;margin-top: -90px;position: relative;"> 
                        <ion-buttons class="round1" *ngIf="item.Url">
                          <ion-button (click)="details(item.AnuncioId)">
                            <ion-icon slot="icon-only" name="eye" style="margin-left: -6px;"></ion-icon>
                          </ion-button>
                        </ion-buttons>
                      </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
        </div>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item class="ion-text-wrap" text-wrap (click)="toggleGroup1()" [ngClass]="{active: isGroupShown1(i)}">
          <ion-label class="label">
            MÁS VISTOS<ion-icon class="icon1" [name]="icon1" slot="end"></ion-icon>
          </ion-label>
        </ion-item>  
        <div *ngIf="group1 === true">
          <ion-card *ngFor="let ite of populares" class="card">
            <ion-grid>
              <ion-row>
                  <ion-col size="auto">
                      <!--img
                      src="assets/imgs_test/uso.png"
                      height="25px"
                      width="5px"
                      alt="No Image"
                      class="heavens"/-->
                     <img *ngIf="ite.ImageName !== undefined && ite.Url == undefined || ite.ImageName !== null && ite.Url == null"
                      [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+ite.ImageName"
                      class="img"
                      (click)="details(ite.AnuncioId)"
                      alt="No Image"
                      />
                      <img *ngIf="ite.ImageName !== undefined && ite.Url !== undefined || ite.ImageName !== null && ite.Url !== null"
                      [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+ite.ImageName"
                      class="img"
                      alt="No Image"
                      (click)="miWeb(ite.Url)"
                      />
                      <img *ngIf="ite.ImageName === undefined && ite.Url == undefined || ite.ImageName === null && ite.Url == null"
                        [src]="'https://setvmas.com/api/uploads/categorias/mini/'+ite.Categoria.ImageName"
                        class="cat"
                        (click)="details(ite.AnuncioId)"
                        alt="No Image"
                        />
                        <img *ngIf="ite.ImageName === undefined && ite.Url !== undefined || ite.ImageName === null && ite.Url !== null"
                        [src]="'https://setvmas.com/api/uploads/categorias/mini/'+ite.Categoria.ImageName"
                        class="cat"
                        (click)="miWeb(ite.Url)"
                        alt="No Image"
                        />
                  </ion-col>
                  <ion-col size="auto">
                    <div class="container">
                      <p style="padding: 10px; width: 120px;height: auto; margin-top: -10px;">
                        {{ite.Categoria.Nombre}}
                      </p>  
                        <p style="padding: 10px; width: 120px;height: auto;color: black; margin-top: -10px;">{{ite.Titulo}}</p>
                        <ion-button style="margin-top: -20px; width: 120px;height: 30px;" color="medium" shape="round" fill="outline" ><p style="font-weight: bold;color: #000;">${{ite.Precio}}</p></ion-button>
                    </div>
                  </ion-col>
                  <ion-col size="auto">
                    <div style="margin-left: 268px;margin-top: -110px;position: absolute;">
                      <ion-buttons class="round1">
                        <ion-button (click)="sendShare(ite.Titulo,ite.AnuncioId)">
                          <ion-icon slot="icon-only" name="share" style="margin-left: -10px;"></ion-icon>
                        </ion-button>
                      </ion-buttons> 
                    </div>
                    <br>
                    <br>
                    <div style="margin-left: 268px;margin-top: -90px;position: relative;"> 
                      <ion-buttons class="round1" *ngIf="ite.Url">
                        <ion-button (click)="details(ite.AnuncioId)">
                          <ion-icon slot="icon-only" name="eye" style="margin-left: -6px;"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </div>
                  </ion-col>
              </ion-row>
          </ion-grid>
        </ion-card>
        </div>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-item>
        <ion-slides page="true" [options]="slideOpts">
            <ion-slide class="slide" *ngFor="let item of barnerInferior">
                <div class="contenedor">
                    <!--img
                        src="assets/imgs_test/popular.png"
                        height="150px"
                        width="180px"
                        alt="No Image"
                        class="heaven"/-->
                    <img
                    [src]="'https://setvmas.com/api/uploads/banners/inferior/'+item.ImageName"
                    width="410px"
                    height="204px"
                    alt="No Image"
                    (click)="details(item.AnuncioId)"
                    />
                    <!--div class="centrado">
                      Título del anuncio en una línea
                      <br>
                      Categoría del anuncio
                    </div-->
                </div>
            </ion-slide>
        </ion-slides>
    </ion-item>
</ion-content>
<ion-footer style="height: auto;position: relative;">
  <ion-toolbar>
      <div class="footer">
        <ion-icon  (click)="menu()" class="icon_footer" [name]="arrow"></ion-icon>
        <div *ngIf="menus === true" style="margin-left: 150px; margin-top: -10px;">
          <p (click)="inicio()">INICIO</p>
          <p (click)="oficina()" *ngIf="currentUser">OFICINA</p>
          <p (click)="ayuda()">AYUDA</p>
          <p (click)="contacto()">CONTÁCTANOS</p>
          <div style="height: 10px;"></div>
        </div>
      </div>
  </ion-toolbar>
 
</ion-footer>
