<ion-header id="ad-header">
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons  slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
    <ion-title>
      <label>Mi Oficina Virtual</label>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="tab">
      <ion-segment-button [value]="DATA_TAB">
        <ion-label> Mis Datos</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="AD_TAB" layout="icon-start">
        <ion-label> Mis Anuncios</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" style="background-color: white;">
  <div *ngIf="tab === DATA_TAB">

    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-right">
          <ion-label color="primary">Clase:</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-left">
          <ion-label color="warning">{{ clase }} </ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-label color="primary">ID:</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-left">
          <ion-label color="warning">{{ codigo }} </ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-label color="primary">Puntos acumulados:</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-left">
          <ion-label color="warning">{{ acumuladoPuntos }} </ion-label>
        </ion-col>
        <ion-col size="12" class="ion-text-center" style="font-size: 12px;">
          <ion-label *ngIf="precioPunto" color="medium">1 pto. equivale a {{ precioPunto }} CUP</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col size="6">
          <ion-button class="ion-text-capitalize" size="small" (click)="compra()" fill="outline" shape="round"
            color="primary">
            <ion-icon name="cart" slot="start"></ion-icon>
            Comprar Puntos
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="ion-text-capitalize" size="small" (click)="vende()" fill="outline" shape="round"
            color="primary">
            <ion-icon name="cash" slot="start"></ion-icon>
            Vender Puntos
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-label color="primary">Cant. de referidos: <span>{{ cantReferidos }}</span></ion-label>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <ion-label color="primary">Compras directas: <span>{{ compras }}</span></ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-button class="ion-text-capitalize" size="small" (click)="enlace()" fill="outline" shape="round"
            color="primary">
            <ion-icon name="copy" slot="start"></ion-icon>
            Copiar Código
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="ion-text-capitalize" size="small" (click)="qr()" fill="outline" shape="round"
            color="primary">
            <ion-icon name="qr-scanner" slot="start"></ion-icon>
            Mostrar Código
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="messageAdmin">
      <ion-row>
        <ion-col class="ion-text-wrap"
          style="background-color: rgb(141, 201, 224);color: #000030; border-radius: 10px;margin: 10px;">
          <p style="margin: 0; text-align: center;">
            {{messageAdmin}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="tab === AD_TAB">
    <ion-list class="list-ad">
      <ion-item lines="full" *ngFor="let item of anuncios">
        <ion-label color="primary" slot="start">
          <h2>{{item.Titulo}}</h2>
          <p style="font-size: 12px;color:#888">{{moment(item.FechaModificacion).format('DD-MM-YYYY HH:mm:ss')}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="onEditAnnounce(item.AnuncioId)" color="primary">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="changeStatusAd(item)" color="primary">
            <ion-icon *ngIf="item.IsActivo" name="eye"></ion-icon>
            <ion-icon *ngIf="!item.IsActivo" name="eye-off"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="onDeleteAnnounce(item.AnuncioId)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <!-- <ion-card class="card">
        <ion-grid>
          <ion-row class="title">
            <ion-col>Anuncios</ion-col>
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col>Acción</ion-col>
          </ion-row>
          <ion-row *ngFor="let item of anuncios">
            <ion-col>{{item.Titulo}}</ion-col>
            <ion-col>
              <ion-buttons>
                <ion-button (click)="onEditAnnounce(item.AnuncioId)" style="margin-left: 50px;margin-right: -15px;">
                  <ion-icon name="create" slot="end"></ion-icon>
                </ion-button>
                <ion-button (click)="onDeleteAnnounce(item.AnuncioId)">
                  <ion-icon name="trash" slot="end"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
          <!--div class="row header">
                  <div class="col">Anuncios</div>
                  <div class="col">Tipo</div>
                  <div class="col">Opciones</div>
                </div>
                <div class="row" *ngFor="let item of anunciolist">
                  <div class="col">{{item.titulo}}</div>
                  <div class="col" *ngIf="item.destacado === null">Simple</div>
                  <div class="col" *ngIf="item.destacado !== null">Avanazado</div>
                  <div class="col">
                    <ion-buttons>
                        <ion-button (click)="onEditAnnounce(item.nuevo,item.precio,item.titulo,item.nombre,item.telefono,item.email,item.municipio,item.provincia,item.images,item.etiqueta,item.accion,item.destacado,item.masetiqueta,item.autorrenovable,item.frecuencia,item.web,item.url,item.webanuncio,item.nombreimagen,item.imagenadicional,item.imagenbarnerinferior,item.imagenbarnersuperior,item.diaspagardestacado,item.diaspagardescribe,item.diaspagarautorrenovable,item.diaspagarweb,item.diaspagarimagenadicional,item.diaspagarbarner,item.diaspagarbarnersuperior)">
                            <ion-icon name="edit" slot="end"></ion-icon>
                        </ion-button>
                        <ion-button (click)="onDeleteAnnounce(item.titulo)">
                            <ion-icon name="trash" slot="end"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                  </div>
                </div
        </ion-grid>
      </ion-card> -->
    </ion-list>
  </div>
</ion-content>