<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-grid style="margin-left: -50px;">
            <ion-row style="margin-left: 40px; color: #fff;font-weight: lighter;">
             <ion-col size="auto">
               <p [ngClass]="{online: active}">{{ online }} |</p>
             </ion-col>
             <ion-col size="auto">
               <p [ngClass]="{offline: !active}">{{ offline }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
     <ion-list *ngIf="active && currentUser" style="margin-left: 40px;">
      <ion-item class="menu">  
        <ion-buttons>
          <ion-menu-button autoHide="false" (click)="inicio()">Inicio</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">       
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" (click)="oficina()">Oficina</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">    
        <ion-buttons style="margin-left: 20px;">
          <ion-menu-button autoHide="false" (click)="anunciar()">Anunciar</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons>
          <ion-menu-button autoHide="false" style="margin-left: 40px;" (click)="downloadBD()">Descargar Bd</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons>
          <ion-menu-button autoHide="false" (click)="ayuda()"> Ayuda</ion-menu-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
     <ion-list *ngIf="active && !currentUser" style="margin-left: 40px;">
      <ion-item class="menu">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" (click)="inicio()">Inicio</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons slot="start" style="margin-left: 20px;">
          <ion-menu-button autoHide="false" (click)="anunciar()">Anunciar</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" style="margin-left: 40px;" (click)="downloadBD()"> Descargar Bd</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" (click)="ayuda()">Ayuda</ion-menu-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
     <ion-list *ngIf="!active && currentUser" style="margin-left: 40px;">
      <ion-item class="menu">
        <ion-buttons>
          <ion-menu-button autoHide="false" (click)="inicio()">Inicio</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" (click)="oficina()">Oficina</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons style="margin-left: 20px;">
          <ion-menu-button autoHide="false" (click)="anunciar()">Anunciar</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons>
          <ion-menu-button autoHide="false" (click)="ayuda()">Ayuda</ion-menu-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
     <ion-list *ngIf="!active && !currentUser" style="margin-left: 40px;">
      <ion-item class="menu">
        <ion-buttons>
          <ion-menu-button autoHide="false" (click)="inicio()">Inicio</ion-menu-button>
        </ion-buttons>
      </ion-item>
      <ion-item class="menu">
        <ion-buttons>
          <ion-menu-button autoHide="false" (click)="ayuda()">Ayuda</ion-menu-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
      <!--div *ngIf="active && currentUser">
        <ion-list *ngFor="let pages of online_active" style="margin-left: 40px;">
          <ion-menu-toggle auto-hide="false">
            <ion-item class="menu" menuclose [routerLink]="pages.url" *ngIf="pages.title !== 'DESCARGAR BD'" routerDirection="'root'">
                   {{pages.title}} 
            </ion-item>
            <ion-item class="menu" menuclose (click)="downloadBD()" *ngIf="pages.title === 'DESCARGAR BD'" routerDirection="'root'">
              {{pages.title}}
            </ion-item>
          </ion-menu-toggle>
          </ion-list>
      </div>
      <div *ngIf="active && !currentUser">
        <ion-list *ngFor="let pages of online_noactive" style="margin-left: 40px;">
          <ion-menu-toggle auto-hide="false">
            <ion-item class="menu" menuclose [routerLink]="pages.url" *ngIf="pages.title !== 'DESCARGAR BD'" routerDirection="'root'">
                   {{pages.title}} 
            </ion-item>
            <ion-item class="menu" menuclose (click)="downloadBD()" *ngIf="pages.title === 'DESCARGAR BD'" routerDirection="'root'">
              {{pages.title}}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
      <div *ngIf="!active && currentUser">
        <ion-list *ngFor="let pages of offline_active" style="margin-left: 40px;">
          <ion-menu-toggle auto-hide="false" >
            <ion-item class="menu" menuclose [routerLink]="pages.url" routerDirection="'root'">
                   {{pages.title}} 
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
      <div *ngIf="!active && !currentUser">
        <ion-list *ngFor="let pages of offline_noactive" style="margin-left: 40px;">
          <ion-menu-toggle auto-hide="false" >
            <ion-item class="menu" menuclose [routerLink]="pages.url" routerDirection="'root'">
                   {{pages.title}} 
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div-->  
          
      <div *ngIf="(active && currentUser) || (!active && currentUser)" style="margin-left: 50px;">
        <u (click)="qr()" class="menu"><ion-icon name="qr-scanner" style="width:20px;height:20px"></ion-icon>Mostrar Código de referido</u>
      </div>
      <div *ngIf="active && currentUser" style="margin-left: 50px;">
        <p style="color: orangered;">Acumulado de puntos: <strong>{{ userPoint }}</strong></p>
      </div>
      <div *ngIf="active && currentUser" style="margin-left: 50px;">
        <u (click)="vende()" class="menu"><img class="menu"
          src="assets/imgs_test/bolsita blanca.png"
          height="25px"
          width="25px"
          alt="No Image" slot="start"/>Vender puntos</u>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
