<ion-header>
  <ion-toolbar style="background-color: #ffff;color: orangered;">
        <ion-grid>
                <ion-row>
                    <ion-col size="auto">
                        <!--img  class="notificate" src="assets/imgs_test/notifi.png" height="40px" width="40px" style="margin-top:5px"/-->
                        <img  src="assets/imgs_test/notif.png" height="30px" width="30px" style="margin-top:5px"/>
                    </ion-col>
                    <ion-col size="auto">
                          <p>ANUNCIAR</p>
                    </ion-col>
                    <ion-col size="auto">
                        <ion-icon name="close" style="margin-left:150px; margin-top:20px" (click)="close()"></ion-icon>
                    </ion-col>
                </ion-row>
        </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #anuncioForm="ngForm" novalidate>
    <div *ngIf="configAvanzada === false">
            <ion-item>
                <ion-label position="floating" style="margin-left: 15px;">*Título del anuncio</ion-label>
                <ion-input [(ngModel)]="titulo" name="titulo" pattern="^-?[a-zA-Z]+$" type="text" #titulov="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                <div *ngIf="titulov.invalid" style="color:red;font-size: 80%;">
                    <div *ngIf="titulov.errors.required">
                        Título es requirido
                    </div>
                    <div *ngIf="titulov.errors.pattern">
                        Título debe ser letras
                     </div>
                </div> 
                </ion-item>
                <!--ion-text color="danger">
                    <p [hidden]="!titulov.valid || submitted == false" class="ion-padding-start">
                        Título es requerido
                    </p>
                </ion-text-->
                <ion-item *ngIf="isConnected">
                    <ion-select [(ngModel)]="accion" name="accion" (ngModelChange)="optionsFnAccion();" placeholder="¿Qué desea hacer?">
                        <ion-select-option value="Vendo" >Vendo</ion-select-option> 
                        <ion-select-option value="Compro" >Compro</ion-select-option> 
                        <ion-select-option value="Alquilo" >Alquilo</ion-select-option> 
                        <ion-select-option value="Busco" >Busco</ion-select-option> 
                        <ion-select-option value="Cambio" >Cambio</ion-select-option> 
                        <ion-select-option value="Regalo" >Regalo</ion-select-option> 
                        <ion-select-option value="Servicio" >Servicio</ion-select-option> 
                        <ion-select-option value="Información" >Información</ion-select-option> 
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="isConnected">
                    <ion-select [(ngModel)]="categoria" name="categoria" (ngModelChange)="optionsFnCategoria();" placeholder="Categoría">
                        <ion-select-option *ngFor="let item of arraycategoria let i=index" [value]="item.CategoriaId">{{item.Nombre}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="isConnected">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Fruit selection" aria-orientation="horizontal">
                          <mat-chip style="background-color: orangered;color: #ffff;display: flex; flex-direction: row;"
                            *ngFor="let fruit of etiqueta"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="removeEtiqueta(fruit)">
                            {{fruit.Nombre}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                            placeholder="Etiqueta..."
                            #fruitInput
                            [formControl]="fruitCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            style="color: #000030;"
                            color="primary"
                            (matChipInputTokenEnd)="addEtiqueta($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit" style="color: #000030;">
                                {{ fruit.Nombre }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </ion-item>
                <ion-item>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6">
                          <ion-item>
                                <ion-label position="floating" color="primary" style="margin-left: 15px;">*Precio CUP</ion-label>
                                <ion-input [(ngModel)]="precio" name="precio" type="number" pattern="^-?[0-9]+$"  #preciov="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                                <div *ngIf="preciov.invalid" style="color:red;font-size: 80%;">
                                    <div *ngIf="preciov.errors.required">
                                        Precio es requirido
                                    </div>
                                    <div *ngIf="preciov.errors.pattern">
                                        Precio debe ser números
                                     </div>
                                </div>
                          </ion-item>
                           <ion-item *ngIf="isConnected">
                                <ion-checkbox [(ngModel)]="nuevo" name="nuevo" checked="true"></ion-checkbox><div style="width:3px"></div><p>Nuevo</p>
                           </ion-item>    
                      </ion-col>
                      <ion-col size="6">
                        <div *ngIf="loadImage">
                            <img *ngIf="!formData.ImageContent" src="assets/imgs_test/noimagen.png">
                            <img *ngIf="formData.ImageContent"  [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+formData.ImageName">
                            <div>
                                <ion-button color="medium" size="large" (click)="takeSnap()"><ion-icon slot="icon-only" name="camera"></ion-icon></ion-button>
                            </div>
                        </div>
                        <div *ngIf="!loadImage">
                            <img *ngIf="!imagen" src="assets/imgs_test/noimagen.png">
                            <img *ngIf="imagen"  [src]="imagen">
                            <div>
                                <ion-button color="medium" size="large" (click)="takeSnap()"><ion-icon slot="icon-only" name="camera"></ion-icon></ion-button>
                            </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <div style="color:orangered">
                        <ion-label>Formas de Contacto</ion-label>    
                    </div>
                    <ion-item>
                            <ion-label position="floating" style="margin-left: 15px;">*Nombre del Contacto</ion-label>
                            <ion-input [(ngModel)]="nombre" name="nombre" type="text" pattern="^-?[a-zA-Z]+$" #nombrev="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                            <div *ngIf="nombrev.invalid" style="color:red;font-size: 80%;">
                            <div *ngIf="nombrev.errors.required">
                                Nombre es requirido
                            </div>
                            <div *ngIf="nombrev.errors.pattern">
                                Nombre deben ser letras
                             </div>
                        </div>
                    </ion-item> 
                    <ion-item>
                            <ion-label position="floating" style="margin-left: 15px;">*Télefono del Contacto</ion-label>
                            <ion-input [(ngModel)]="telefono" name="telefono" pattern="^-?[0-9]+$" type="number" #telefonov="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                            <div *ngIf="telefonov.invalid" style="color:red;font-size: 80%;">
                            <div *ngIf="telefonov.errors.required">
                                Télefono es requirido
                            </div>
                            <div *ngIf="telefonov.errors.pattern">
                                Télefono deben ser números
                             </div>
                        </div>
                    </ion-item> 
                    <ion-item>
                        <ion-label position="floating" style="margin-left: 15px;">*Email del Contacto</ion-label>
                        <ion-input [(ngModel)]="email" name="email" type="text" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  #emailv="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                        <div *ngIf="emailv.invalid" style="color:red;font-size: 80%;">
                        <div *ngIf="emailv.errors.required">
                            Email es requirido
                        </div>
                        <div *ngIf="emailv.errors.pattern">
                            Email es inválido
                         </div>
                    </div>
                    </ion-item> 
                    <ion-item *ngIf="isConnected">
                        <ion-select  [(ngModel)]="provincia" name="provincia" (ngModelChange)="optionsFnProv();" placeholder="Provincia">
                            <ion-select-option *ngFor="let item of arrayprovincia" [value]="item.nombre">{{item.nombre}}</ion-select-option> 
                        </ion-select>
                    </ion-item>
                        <ion-item *ngIf="isConnected">
                            <ion-select [(ngModel)]="municipio" name="municipio" (ngModelChange)="optionsFnMun();" placeholder="Municipio">
                                <ion-select-option *ngFor="let ite of arraymunicipio" [value]="ite">{{ite}}</ion-select-option> 
                            </ion-select>
                        </ion-item>    
                <ion-item>
                    <ion-label position="floating" style="margin-left: 15px;">Texto del anuncio</ion-label>
                    <ion-textarea [(ngModel)]="texto" name="texto" autocomplete="on" autocorrect="on"></ion-textarea>
                </ion-item> 
                <ion-item *ngIf="isConnected && !currentUser">
                        <ion-buttons class="round" (click)="onAdavance()">
                            <ion-button>
                              <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                        <ion-label class="round-label">Configuración Avanzada</ion-label>
                    </ion-item>
                    <ion-item>
                        <div style="height: 10px;"></div>
                            <ion-buttons class="anunciarexpanded">
                                    <ion-button (click)="add()">
                                        <p style="text-align: center;">EDITAR</p>
                                        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                    </ion-item>
                    <div style="height: 10px;"></div>
    </div>
    <div *ngIf="configAvanzada === true && currentUser">
          <ion-item>
                  Destaca tu anuncio
                  <ion-buttons (click)="onExpande()" slot="end">
                          <ion-button>
                            <ion-icon slot="icon-only" [name]="icon"></ion-icon>
                          </ion-button>
                  </ion-buttons>
          </ion-item>
                <div *ngIf="expande === true">
                    <ion-item>
                        <p style="color: orangered;">Utilice esta opción para que su anuncio aparezca destacado en las listas. ¡Llame la atención!</p>
                    </ion-item>
                    <ion-item>
                            <ion-checkbox [(ngModel)]="nuevo" name="nuevo"  checked="true"></ion-checkbox><div style="width:3px"></div><p>Destacado</p>
                    </ion-item>
                        <ion-item>
                            <ion-label position="floating" style="margin-left: 15px;">*Días a pagar</ion-label>
                            <ion-input [(ngModel)]="diaspagardestacado" pattern="^-?[0-9]+$" name="diaspagardestacadov" type="number"  (ngModelChange)="calcular()" #diaspagardestacadov="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                            <div *ngIf="diaspagardestacadov.invalid" style="color:red;font-size: 80%;">
                                <div *ngIf="diaspagardestacadov.errors.required">
                                    Días a pagar es requirido
                                </div>
                                <div *ngIf="diaspagardestacadov.errors.pattern">
                                    Días a pagar deben ser números
                                 </div>
                            </div>
                        </ion-item>
                        <ion-item>
                            <ion-label>Cantidad de puntos: {{ cantpuntosdestacado }}</ion-label>
                        </ion-item>
                </div>   
                <ion-item>
                        Describe tu anuncio
                        <ion-buttons (click)="onExpande1()" slot="end">
                                <ion-button>
                                  <ion-icon slot="icon-only" [name]="icon1"></ion-icon>
                                </ion-button>
                        </ion-buttons>
                </ion-item> 
                <div *ngIf="expande1 === true">
                        <ion-item>
                            <p>Haga su anuncio más descriptivo y fácil de encontrar asociándolo con más de tres etiquetas. ¡Multiplique su anuncio!</p>
                        </ion-item>
                        <ion-item>
                            <ion-checkbox [(ngModel)]="masetiqueta" checked="true" name="masetiqueta">Más Etiqueta</ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <mat-form-field class="example-chip-list">
                                <mat-chip-list #chipList aria-label="Fruit selection" aria-orientation="horizontal">
                                  <mat-chip style="background-color: orangered;color: #ffff;display: flex; flex-direction: row;"
                                    *ngFor="let fruit of formData.ListadoEtiquetas"
                                    [selectable]="selectable"
                                    [removable]="removable"
                                    (removed)="removeEtiqueta(fruit)">
                                    {{fruit.etiqueta.Nombre}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                  </mat-chip>
                                  <input
                                        placeholder="Etiqueta..."
                                        #fruitInput
                                        [formControl]="fruitCtrl"
                                        [matAutocomplete]="auto"
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        style="color: #000030;"
                                        color="primary"
                                        (matChipInputTokenEnd)="addEtiqueta($event)">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit" style="color: #000030;">
                                        {{ fruit }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                       </ion-item>
                           <ion-item>
                                <ion-label position="floating" color="primary" style="margin-left: 15px;">*Días a pagar</ion-label>
                                <div *ngIf="diaspagardescribev.invalid" style="color:red;font-size: 80%;">
                                    <div *ngIf="diaspagardescribev.errors.required">
                                        Días a pagar es requirido
                                    </div>
                                    <div *ngIf="diaspagardescribev.errors.pattern">
                                        Días a pagar deben ser números
                                     </div>
                                </div>
                            </ion-item>
                            <ion-item>
                                <ion-label>Cantidad de puntos:  {{ cantpuntosetiquetas }}</ion-label>
                            </ion-item>
                </div>
                <ion-item>
                        Haz más visible tu anuncio
                        <ion-buttons (click)="onExpande2()" slot="end">
                                <ion-button>
                                  <ion-icon slot="icon-only" [name]="icon2"></ion-icon>
                                </ion-button>
                        </ion-buttons>
        </ion-item>
        <div *ngIf="expande2 === true">
            <ion-item>
                <p>Esta opción automatiza su anuncio, haciendo que se renueve periódicamente y que suba a las primeras posiciones de la lista dentro de su Categoría. ¡Le dará más visibilidad! Setvmás trabaja para usted</p>
            </ion-item>
            <ion-item>
                    <ion-checkbox [(ngModel)]="autorrenovable" name="autorrenovable" checked="true"></ion-checkbox><div style="width:3px"></div><p>Autorrenovable</p>
            </ion-item>
            <ion-item>
            </ion-item>
                    <ion-item>
                        <!--ion-range dualKnobs="true" min="21" max="72" step="3" snaps="true" [(ngModel)]="frecuencia" name="frecuencia"></ion-range>
                        <ion-label position="floating" color="primary">*Frecuencia</ion-label>
                        <ion-input [(ngModel)]="frecuencia" name="frecuencia" type="text" #frecuenciav="ngModel" spellcheck="false" autocapitalize="off" required></ion-input-->
                        <ion-select [(ngModel)]="frecuencia" name="frecuencia" (ngModelChange)="optionsFnFrecuencia();" placeholder="Frecuencia">
                            <ion-select-option *ngFor="let item of listaFrecAutoRenovables let i=index" [value]="item.NombreCodigo">{{item.NombreCodigo}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                <ion-item>
                        <ion-label position="floating" color="primary" style="margin-left: 15px;">*Días a pagar</ion-label>
                        <ion-input [(ngModel)]="diaspagarautorrenovable" pattern="^-?[0-9]+$" name="diaspagarautorrenovable" (ngModelChange)="calcular()" type="number" #diaspagarautorrenovablev="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                                <div *ngIf="diaspagarautorrenovablev.invalid" style="color:red;font-size: 80%;">
                                    <div *ngIf="diaspagarautorrenovablev.errors.required">
                                        Días a pagar es requirido
                                    </div>
                                    <div *ngIf="diaspagarautorrenovablev.errors.pattern">
                                        Días a pagar deben ser números
                                     </div>
                                </div>
                    </ion-item>
                    <ion-item>
                            <ion-label>Cantidad de puntos:  {{ cantpuntosauto }}</ion-label>
                    </ion-item>
        </div>
        <ion-item>
                Anuncia tu página web
                <ion-buttons (click)="onExpande3()" slot="end">
                    <ion-button>
                        <ion-icon slot="icon-only" [name]="icon3"></ion-icon>
                    </ion-button>
                </ion-buttons>
        </ion-item>
        <div *ngIf="expande3 === true">
            <ion-item>
                <p>Anuncie su página web con esta opción. ¡Abra las puertas de su negocio con solo un clic!</p>
            </ion-item>
            <ion-item>
                    <ion-checkbox [(ngModel)]="web" name="web" checked="true"></ion-checkbox><div style="width:3px"></div><p>web</p>
            </ion-item>
                        <ion-item>
                            <ion-label position="floating" style="margin-left: 15px;">*Url</ion-label>
                            <ion-input [(ngModel)]="url" name="url" type="text" (ngModelChange)="calcular()" #urlv="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                                    <div *ngIf="urlv.invalid" style="color:red;font-size: 80%;">
                                        <div *ngIf="diaspagardestacadov.errors.required">
                                            Días a pagar es requirido
                                        </div>
                                    </div>
                        </ion-item>
                        <ion-item>
                            <ion-checkbox [(ngModel)]="webanuncio" checked="true" name="webanuncio"></ion-checkbox><div style="width:3px"></div><p>Mi web es el anuncio</p>
                        </ion-item>
                <ion-item>
                        <ion-label position="floating" style="margin-left: 15px;">*Días a pagar</ion-label>
                        <ion-input [(ngModel)]="diaspagarweb" name="diaspagarweb" pattern="^-?[0-9]+$" (ngModelChange)="calcular()" type="text" #diaspagarwebv="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                                <div *ngIf="diaspagarautorrenovablev.invalid" style="color:red;font-size: 80%;">
                                    <div *ngIf="diaspagarautorrenovablev.errors.required">
                                        Días a pagar es requirido
                                    </div>
                                    <div *ngIf="diaspagarautorrenovablev.errors.pattern">
                                        Días a pagar deben ser números
                                     </div>
                                </div>
                    </ion-item>
                <ion-item>
                        <ion-label>Cantidad de puntos:  {{ cantpuntosweb }}</ion-label>
                </ion-item>    
        </div>
            <ion-item>
                Imágenes adicionales
                <ion-buttons (click)="onExpande4()" slot="end">
                        <ion-button>
                          <ion-icon slot="icon-only" [name]="icon4"></ion-icon>
                        </ion-button>
                </ion-buttons>
            </ion-item>
                <div *ngIf="expande4 === true">
                    <ion-item>
                        <p>Con esta opción usted podrá insertar imágenes con títulos mejorando así la presentación de sus productos y servicios. ¿Necesita una galería, vidriera o tienda? ¡Pruebe con esto! Cree su espacio.</p>
                    </ion-item>
                    <ion-item>
                            <ion-checkbox [(ngModel)]="imagenadicional" checked="true" name="webanunimagenadicionalcio"></ion-checkbox><div style="width:3px"></div><p>Imágenes adicionales</p>
                    </ion-item>
                    
                    <ion-item *ngIf="loadImage">
                            <img  [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+formData.ImageName">
                            <div>
                                <ion-button color="medium" size="large" (click)="takeSnap()"><ion-icon slot="icon-only" name="camera"></ion-icon></ion-button>
                            </div>
                    </ion-item>
                    <ion-item *ngIf="!loadImage">
                        <img *ngIf="!imagen" src="assets/imgs_test/noimagen.png">
                            <img *ngIf="imagen"  [src]="imagen">
                            <div>
                                <ion-button color="medium" size="large" (click)="takeSnap()"><ion-icon slot="icon-only" name="camera"></ion-icon></ion-button>
                            </div>
                    </ion-item>
                    <ion-item>
                        <ion-checkbox [(ngModel)]="nombreimagen" checked="true" name="nombreimagen"></ion-checkbox><div style="width:3px"></div><p>Mostrar nombre Imágenes</p>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating" style="margin-left: 15px;">*Días a pagar</ion-label>
                        <ion-input [(ngModel)]="diaspagarimagenadicional" (ngModelChange)="calcular()" pattern="^-?[0-9]+$" name="diaspagarimagenadicional" type="text" #diaspagarimagenadicionalv="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                        <div *ngIf="diaspagarimagenadicionalv.invalid" style="color:red;font-size: 80%;">
                            <div *ngIf="diaspagarimagenadicionalv.errors.required">
                                Días a pagar es requirido
                            </div>
                            <div *ngIf="diaspagarimagenadicionalv.errors.pattern">
                                Días a pagar deben ser números
                             </div>
                        </div>
                    </ion-item>
                        <ion-item>
                                <ion-label>Cantidad de puntos:  {{ cantpuntosimagenadicional }}</ion-label>
                        </ion-item>
                </div>
                <ion-item>
                        Imágen principal como banner inferior
                        <ion-buttons (click)="onExpande5()" slot="end">
                                <ion-button>
                                  <ion-icon slot="icon-only" [name]="icon5"></ion-icon>
                                </ion-button>
                        </ion-buttons>
        </ion-item>
        <div *ngIf="expande5 === true">
            <ion-item>
                <p>Con esta opción, la imagen principal de su anuncio podrá aparecer como banner en la parte inferior de las páginas del sitio. Los usuarios podrán acceder a su anuncio con solo dar clic en la imagen. ¡Muestre lo que tiene!</p>
            </ion-item>
            <ion-item>
                <ion-checkbox [(ngModel)]="imagenbarnerinferior" checked="true" name="imagenbarnerinferior"></ion-checkbox><div style="width:3px"></div><p>Insertar imagen principal como banner inferior</p>
            </ion-item>
                <ion-item>
                        <img *ngIf="loadImage && imagenbarnerinferior"
                        [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+formData.ImageName"
                        class="img"
                        alt="No Image"
                        />
                        <img *ngIf="item.ImageContent !== undefined && item.ImageContent !== null && imagenbarnerinferior && !loadImage"
                        [src]="imagen"
                        class="img"
                        alt="No Image"
                        />
                        <ion-label position="floating" style="margin-left: 15px;">*Días a pagar</ion-label>
                        <ion-input [(ngModel)]="diaspagarbarner" name="diaspagarbarner" pattern="^-?[0-9]+$" (ngModelChange)="calcular()" type="text" #diaspagarbarnerv="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                                <div *ngIf="diaspagarbarnerv.invalid" style="color:red;font-size: 80%;">
                                    <div *ngIf="diaspagarbarnerv.errors.required">
                                        Días a pagar es requirido
                                    </div>
                                    <div *ngIf="diaspagarbarnerv.errors.pattern">
                                        Días a pagar deben ser números
                                     </div>
                                </div>
                    </ion-item>
                    <ion-item>
                        <ion-label>Cantidad de puntos:  {{ cantpuntosbannerinferior }}</ion-label>
                    </ion-item>
        </div>
        <!--ion-item>
                Imágen principal como banner superior
                <ion-buttons (click)="onExpande6()" slot="end">
                        <ion-button>
                        <ion-icon slot="icon-only" [name]="icon6"></ion-icon>
                        </ion-button>
                </ion-buttons>
    </ion-item>
    <div *ngIf="expande6 === true">
            <ion-item>
                <p>Esta opción le permite colocar una imagen como banner principal en la parte superior de las páginas del sitio. Los usuarios podrán acceder a su anuncio con solo dar clic en la imagen. Le recomendamos contactar a un diseñador para que le haga una imagen atractiva y efectiva para su publicidad, que cumpla con los requisitos de formato. ¡Maximice sus oportunidades!</p>
            </ion-item>
            <ion-item>
                    <ion-checkbox [(ngModel)]="imagenbarnersuperior" checked="true" name="imagenbarnersuperior"></ion-checkbox><div style="width:3px"></div><p>Insertar banner superior </p>
            </ion-item>
                    <ion-item>
                        <img *ngIf="!imagen" src="assets/imgs_test/noimagen.png">
                            <img *ngIf="imagen"  [src]="imagen">
                            <div>
                                <ion-button color="medium" size="large" (click)="takeSnap()"><ion-icon slot="icon-only" name="camera"></ion-icon></ion-button>
                        </div>
                    </ion-item>
                <ion-item>
                        <ion-label position="floating">*Días a pagar</ion-label>
                        <ion-input [(ngModel)]="diaspagarbarnersuperior" (change)="calcular()" pattern="^-?[0-9]+$"  name="diaspagarbarnersuperior" type="text" #diaspagarbarnersuperiorv="ngModel" spellcheck="false" autocapitalize="off" required></ion-input>
                                    <div *ngIf="diaspagarbarnersuperiorv.invalid" style="color:red;font-size: 80%;">
                                        <div *ngIf="diaspagarbarnersuperiorv.errors.required">
                                            Días a pagar es requirido
                                        </div>
                                        <div *ngIf="diaspagarbarnersuperiorv.errors.pattern">
                                            Días a pagar deben ser números
                                         </div>
                                    </div>
                    </ion-item>
                <ion-item>
                    <ion-label>Cantidad de puntos:  {{ cantpuntosbannersuperior }}</ion-label>
                </ion-item>        
    </div-->
        <ion-item>
            <ion-label>Total de puntos:  {{ totalpuntos }}</ion-label>
            <u (click)="compra()" *ngIf="comprar">
                <img
              src="assets/imgs_test/bolsita-sin-fondo.png"
              height="25px"
              width="25px"
              alt="No Image" slot="start" style="margin-bottom: -3px;"/>
              Comprar puntos
            </u>
        </ion-item>
        <ion-item>
                <ion-buttons class="round" (click)="onAdavance()">
                    <ion-button>
                    <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-label style="float: left;margin-left: 5px">Configuración Avanzada</ion-label>
        </ion-item>
        <ion-item>
            <div style="height: 10px;"></div>
                <ion-buttons class="anunciarexpanded">
                        <ion-button (click)="save()">
                            <p style="text-align: center;">Guardar</p>
                        <ion-icon slot="end" name="arrow-dropright"></ion-icon>
                    </ion-button>
                </ion-buttons>
            <div style="height: 10px;"></div>    
        </ion-item>
</div>
</form>
</ion-content>

