.bar {
  --ion-background-color: #000030;
  color: #ffff;
  font-family: Roboto-Light;
}

@-webkit-keyframes pulse {
  0% {
    width: 20px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 20px;
  }
}

@keyframes pulse {
  0% {
    width: 20px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 20px;
  }
}


// Marcos classes
#home-header {
  ion-toolbar {
    margin-bottom: -1px;
  }
}
