<ion-header>
  <ion-toolbar>
    <ion-title style="color:#000030;">
      <ion-grid>
        <ion-row style="height: 50px;">
          <ion-col sise="auto">
            <ion-buttons class="round" style="padding: top 20px;">
              <ion-button (click)="search()">
                <img
                [src]="'https://setvmas.com/api/uploads/categorias/mini/'+detailAnuncio.Categoria.ImageName"
                height="45px"
                width="45px"
                alt="No Image"
              />
              </ion-button>
            </ion-buttons>
                
          </ion-col>
          <ion-col sise="auto">
            <div style="margin-left: 0px;margin-top: 10px;">{{detailAnuncio.Titulo}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">
    <ion-item>
      <ion-grid>
          <ion-row style="margin-top: -10px;">
              <ion-col size="7">
                <ion-card style="float: left;margin-top: 20px; margin-left: -10px;height:150px;width:110px">
                  <img
                  [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+detailAnuncio.ImageName"
                  id="img"
                  class="hover-shadow cursor"
                  alt="No Image"
                  (click)="openModal()"/>
                  <div id="imgModal" class="slide-modal" *ngIf="modale">
                    <span class="close cursor" (click)="closeModal()">&times;</span>
                    <div class="slide-modal-content">
                      <div class="img-slides">
                        <img
                        [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+detailAnuncio.ImageName"
                        alt="No Image"/>
                      </div>
                    </div>
                  </div>
                </ion-card>
              </ion-col>
              <ion-col size="5">
                  <div style="padding: 10px; width: 120px;color: #000030;margin-top: 90px; margin-left: -10px;">
                    <p style="padding: 10px; width: 120px;height: auto;color: black;margin-top: -10px;">{{detailAnuncio.Titulo}}</p>
                    <!--ion-button color="medium" shape="round" fill="outline">{{detailAnuncio.Precio}}</ion-button-->
                    <ion-button style="margin-top: -20px; width: 120px;height: 30px;" color="medium" shape="round" fill="outline" ><p style="font-weight: bold;color: #000;">${{detailAnuncio.Precio}}</p></ion-button>
                    <br>
                    <ion-icon name="eye" slot="start" style="height: 30px;width: 30px;"></ion-icon><p style="margin-top: -25px;margin-left: 30px;">{{detailAnuncio.ContadorView}}</p>

                  </div>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-item>
  <ion-item>
    <div>
      <p style="color: #000030;">
        Acción:<strong>{{detailAnuncio.Accion}}</strong>
      </p>
      <p style="color: #000030; margin-top: -10px;">Categoría:{{detailAnuncio.Categoria.Nombre}}</p>
        <ion-item lines="none" style="margin-top: -20px;">
          <div class="row" *ngFor="let item of arrayEtiqueta">
            <div class="col">
              <p class="etiqueta" >{{item.Nombre}}</p>
            </div>
          </div>
        </ion-item>
      <!--ul *ngFor="let item of arrayEtiqueta">
        <li  style="display: inline;">
          <p class="etiqueta" >{{item.Nombre}}</p>
        </li>
      </ul-->
      <div style="color: #000030;">{{detailAnuncio.Descripcion}}</div>
    </div>
    
  </ion-item>
  <ion-item>
    <div>
      <ion-slides page="true" [options]="slideOpts">
        <ion-slide >
          <img
          [src]="'https://setvmas.com/api/uploads/anuncios/mini/'+detailAnuncio.ImageName"
          class="img"
          alt="No Image"
          />
        </ion-slide>
      </ion-slides>
    </div>
  </ion-item>
  <ion-item>
    <div>
      <p style="color: #000030;">Datos del contacto:</p>
      <p>
        <strong style="color: #000030;">{{detailAnuncio.NombreContacto}},</strong>
        <br>
        <br>
        <strong style="color: #000030;">{{detailAnuncio.TelefonoContacto}},</strong>
        <br>
        <br>
        <strong style="color: #000030;">{{detailAnuncio.CorreoContacto}},</strong>
        <br>
        <br>
        <strong style="color: #000030;">{{detailAnuncio.Municipio}},</strong>
        <br>
        <br>
        <strong style="color: #000030;">{{detailAnuncio.Url}},</strong>
      </p>
      
      <div style="height: 10px;"></div>
    </div>
  </ion-item>

  <ion-item>
    <div *ngFor="let item of listaTipoOpciones" class="container">
      <p style="color: #000030;">"{{item.Nombre}}",</p>
    </div>
  </ion-item>
  <div style="height: 5px;"></div>
  <u style="margin-left: 40px;">
    <ion-icon style="color: #000030;width: 25px;height: 25px; margin-top: 25px;" name="thumbs-down" slot="start"></ion-icon>
    Denunciar Anuncio
  </u>
  <div style="height: 10px;"></div>
  <ion-button  class="buttons" shape="round" fill="outline" color="#000030" (click)="cancel()">Salir</ion-button>
  <div style="height: 15px;"></div>
</ion-content>